body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

#desc::before {
  content: ".";
  color: gray;
  font-weight: bold;
  display: inline-block; 
  width:1rem;
  margin-left:-1em;
}

/* #fixed{
  position: fixed;
  top:2px;
  
  width:100%;
  

} */
#attach{
 position: fixed;
 top:100px; 
 
}